DEBUG=True

# Postgres
POSTGRES_PASSWORD=kapibara
POSTGRES_USER=kapibara
POSTGRES_DB=kapibara

# DB config
DATABASE_URL="psql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@kapibara-db:5432/${POSTGRES_DB}"

# Business logic config
COMMENT_VOTE_RATING_COEFF=0.5

# JWT token config
JWT_ACCESS_TOKEN_LIFETIME_MINUTES=512640
JWT_REFRESH_TOKEN_LIFETIME_DAYS=730
JWT_SIGNING_KEY=super-secret-signing-key

# Various configs
ENABLE_DB_STATS=True
